/* variables.css */
:root {
  /*palette colors*/
  --color-primary: #ff1600;
  --color-primary-light: #ff4c4c;
  --color-primary-lighter: #ff8d8d;
  --color-primary-dark: #c70000;

  --color-info: #1976d2;
  --color-info-light: #64b5f6;
  --color-info-lighter: #90caf9;
  --color-info-dark: #0d47a1;

  --color-secondary: #595959;
  --color-secondary-light: #afafaf;
  --color-secondary-lighter: #c0c0c0;
  --color-secondary-dark: #343333;

  --color-success: #2E7D32;
  --color-success-light: #81C784;
  --color-success-lighter: #A5D6A7;
  --color-success-dark: #1B5E20;

  --color-error: #D32F2F;
  --color-error-light: #E57373;
  --color-error-lighter: #EF9A9A;
  --color-error-dark: #B71C1C;

  --color-warning: #F57C00;
  --color-warning-light: #F49C43;
  --color-warning-lighter: #FFE0B2;
  --color-warning-dark: #E65100;

  --color-background: #ffffff;
  --color-background-light: #f1f0f1;

  --color-text: #000000;
  --color-text-light: #4b5563;
  --color-text-dark: #2d3748;

  
  
  /*shadows*/
  --shadow-card: 0px 1px 5px 0px rgba(0,0,0,0.2);
  
  /*spacing*/
  --spacing-xs: 0.125rem;
  --spacing-sm: 0.25rem;
  --spacing-md: 0.5rem;
  --spacing-lg: 1rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 4rem;
  --spacing-xxxl: 8rem;
  /*fonts*/
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;
  --font-size-xxxl: 2rem;
}
  